<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <title>使用微博，豆瓣，twitter等注册和登陆</title>
    <meta name="description" content="Django Social Auth is an easy to setup social authentication/registration mechanism for Django projects." />
    <meta name="keywords" content="django, django login, django auth, django facebook, django twitter, django openid, django oauth, social auth, openid, oauth, twitter, facebook, google, yahoo, myopenid, python" />
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
    {% block script %}{% endblock %}
  </head>
  <body>
    <div class="container" style="margin-top:60px;">
    {%block content%}
    {%endblock%}
    <footer class="footer" style="padding-top:45px;padding 35px 0 36px;">
      <p><a href="https://github.com/fengli/django-social-auth">Clone in github</a> Bring to you by <a href="http://ikandou.com">ikandou</a></p>
    </footer>
    </div>
  </body>
</html>
