{%extends "base.html"%}
{%block content%}
  <div class="page-header"><h2>通过weibo/douban/twitter注册或者登陆</h2></div>
  {%if user.is_authenticated%}
  <p>你正在使用 <b>{{user.username}}</b> | <b>{{user.email}}</b>登录 | <a href="/logout">注销</a></p>
  {%endif%}
    {%for name, account in social_auth.items%}
    {%if user.is_authenticated%}
    {%if account%}
    <p class="desc"><a style="color:#999;" href="{%url socialauth_disconnect_individual account.provider account.id%}">取消关联 {{name}}</a></p>
    {%else%}
    <p class="desc"><a href="{%url socialauth_associate_begin name%}">关联到 {{name}}</a></p>
    {%endif%}
    {%else%}
    <p class="desc"><a href="{%url socialauth_associate_begin name%}">通过{{name}}注册或登陆</a></p>
    {%endif%}
    {%endfor%}
{%endblock%}
